{% extends 'main.html' %} {% load static %}

{% block title %}Socially Wined{%endblock %} 

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/aboutus.css' %}">
{% endblock  %}

{% block content %}
{% include 'navbar.html' %}
<section class="about-us">
    <div class="about-overlay"></div>

    <!--HERO-->
    <header class="about-hero">
        <h1>Wine Is Better When It's Shared</h1>
        <p>
            Socially Wined is a wine discovery platform where real people track, rate, and share the wines they drink-no expertise required.
        </p>

        <div class="about-hero-actions">
            <a class="btn btn-primary" href="{% url 'signup' %}"> Create an account</a>
            <a class="btn btn-ghost" href="{% url 'wine_collection' %}">Explore Wines</a>
        </div>
    </header>
</section>


{% endblock %}