{% extends 'main.html' %} {% load static %} 

{% block title %}Socially Wined{%endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block content %}

<section class="blog">
  {% include 'navbar.html' %}
  <div class="blog-overlay"></div>

  <div class="blog-container">

    <!--HERO / INTRO -->
    <header class="blog-hero">
        <p class="blog-kicker">SOCIALLY WINED JOURNAL</p>
        <H1 class="blog-title">Stories, Reviews, and Guides</H1>
        <p class="blog-subtitle">Wine, rated by the people who drink it. Discover bottle, pairings, and honest takes.</p>
    </header>

    <!--CONTROLS-->
    <div class="blog-controls">
        <div class="blog-search">
            <input type="text" placeholder="Search posts (cabernet, pairing, beginner...)">
            <button type="button" class="blog-btn blog-btn-primary">Search</button>
        </div>

        <div class="blog-filters">
            <button class="chip chip-active" type="button">ALL</button>
            <button class="chip" type="button">Reviews</button>
            <button class="chip" type="button">Beginner Guides</button>
            <button class="chip" type="button">Pairings</button>
            <button class="chip" type="button">Culture</button>
        </div>
    </div>

    <!---FEATURED POST-->
    <section class="featured">
        <a href="#" class="featured-card">
            <div class="featured-image" style="background-image:url('{% static '../images/blog-feature.jpg' %}');"></div>

            <div class="featured-content">
                <span class="bagde">Featured</span>
                <h2 class="featured-title">How to Choose Wine Without Overthinking It</h2>
                <p class="feature-excerpt">A simple approach for ordering, shopping, and exploring wine confidently - no snob talk</p>
            

                <div class="meta">xw
                    <span>By Writter</span>
                    <span class="dot">•</span>
                    <span>Feb 23, 2026</span>
                    <span class="dot">•</span>
                    <span>6 min read</span>
                </div>
            </div>
        </a>
    </section>
  </div>
  
</section>

{% endblock %}
