{% extends 'main.html' %} {% load static %} 
{% block title %}Socially Wined{%endblock %}
{% block content %}

<section class="wine-contact">
  {% include 'navbar.html' %}
  <div class="contact-content">
    <div class="form-box">
      <h2>We'd love to hear from you</h2>
      <p class="color-b">
        Whether you're curious what wines you should start trying or even
        general questions about our site
      </p>
      {% if submitted %}
      <p class="color-b">Thank you! you message has been sent!</p>
      {% endif %}

      <form action="" method="post">
        {% csrf_token %}

        <div class="form-row">{{ form.last_name }} {{ form.first_name }}</div>

        {{ form.email }} {{ form.message }}

        <button type="submit" class="wine-input send-btn">SEND</button>
      </form>
    </div>
  </div>
</section>

{% endblock %}
