{% extends 'base.html' %} {% load static %}
 {% block title %}Socially Wined{%endblock %} {% block content %}

<section class="welcome">
  <div class="logo-container"><h2 class="logo-text">Socially Wined</h2></div>
  <div class="content">
    <div class="info">
      <h2 class="titleh2">
        Sip. Share. Socialize.<br /><span>Sip Happens — Share It Here</span>
      </h2>
      <a href="{% url 'wine cellar:home' %}" class="info-btn">Learn More</a>
    </div>
  </div>
</section>

{% endblock content %}
