{% extends 'main.html' %} {% load static %} {% block title %}Socially Wined{%
endblock %} {% block content %}

<section class="login-container">
  <div class="container" id="container">
    <div class="form-container sign-up-container">
      <form action="">
        <h1>create account</h1>
        <div class="social-container">
          <i class="social"></i>
          <i class="social"></i>
          <i class="social"></i>
        </div>
        <span>or use your email for registration</span>
        <input type="text" name="" id="" />
        <input type="text" name="" id="" />
        <input type="text" name="" id="" />
        <button>sign up</button>
      </form>
    </div>
    <div class="form-container sign-in-container">
      <h1>Sign In</h1>
      <div class="social-container">
        i class="social"></i>
          <i class="social"></i>
          <i class="social"></i>
      </div>
      <span>or use your account</span>
     <input type="text" name="" id="">
      <input type="text" name="" id="">
    </div>
  </div>
</section>

{% endblock%}
