{% extends 'main.html' %} {% load static %}
{% block title %} Socially Wined {% endblock %} 

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}

<section class="login-container">
  <div class="container" id="container">
    {% comment %} SIGN UP {% endcomment %}
    <div class="form-container sign-up-container">
      <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="signup" />

        <h1>Create account</h1>

        <div class="social-container">
          <a href="#" class="social"></a>
          <a href="#" class="social"></a>
          <a href="#" class="social"></a>
        </div>

        <span>or use your email for registriation</span>

        {{ signup_form.username }} {{ signup_form.email }}
        {{ signup_form.password1 }} {{ signup_form.password2 }}

        {% if signup_form.errors %}
        <div class="form-errors">{{signup_form.errors}}</div>
        {% endif %}

        <button type="submit">Sign Up</button>
      </form>
    </div>

    {% comment %} SIGN IN {% endcomment %}

    <div class="form-container sign-in-container">
      <form method="POST" action="" class="login-form">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="login" />

        <h1>Sign in</h1>

        <div class="social-container">
          <a href="#" class="social"></a>
          <a href="#" class="social"></a>
          <a href="#" class="social"></a>
        </div>

        <span>or use your account</span>

        {{login_form.username}} {{login_form.password}}
        
        {% if login_form.non_field_errors %}
        <div class="form-errors">{{ login_form.non_field_errors}}</div>
        {% endif %}

        <a href="">Forgot your password?</a>

        <button type="submit" class="main-button">Sign In</button>
      </form>
    </div>

    {% comment %} OVERLAY {% endcomment %}
    <div class="overlay-container">
      <div class="overlay">
        
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>To keep connected with us please login with your personal info</p>
          <button type="button" class="main-button signupbtn" id="signIn">
            Sign In
          </button>
        </div>

        <div class="overlay-panel overlay-right">
          <h1>Welcome!</h1>
          <p>Enter your details and get started!</p>
          <button type="button" class="main-button signupbtn" id="signUp">Sign Up</button>
        </div>
      </div>

    </div>
  </div>
</section>
{% endblock%} 
{% block extra_js %}
<script src="{% static 'js/login.js' %}" defer></script>
{% endblock %}
