@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  font-style: normal;
}

html,
body {
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none; /* Firefox */
}
section {
  scroll-snap-align: start;
}

.about-us{
  position: absolute;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: url("../images/aboutus.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  opacity: .90;
}