@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  font-style: normal;
}

html,
body {
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none; /* Firefox */
}
section {
  scroll-snap-align: start;
}

.blog{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: url("../images/wine-blog.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.blog-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 1;
}

.blog-container {
  position: relative;
  z-index: 2;
  width: min(1000px, 92%);
  padding: 120px 0 80px;
  color: #f5f1ea;
}

